<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/daivinhtran/jobs-worker">jobs-worker</a></strong>
			- A job submission tool for DFT calculations. The tool submits jobs to a supercomputer and store the inputs/outputs ina schema-free database
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/ngailapdi/sign-to-text">MagicHand</a></strong>
			- MagicHand was made during HackGSU 2016 and was awarded "Hackathon Winnder - Organizer's Choice". The tool helps translate sign language (by images) to voice in any language using K-Nearest Neighbors algorithms built-in in OpenCV.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/daivinhtran/TrainReservation">Train Reservation System</a></strong>
			- Responsible for implementing the database and developed both of the front-end and the back-end for various features such as reserve cancel tickets, revenue report, and update customer information
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/daivinhtran/KaraokeTube">KaraokeTube</a></strong>
			-  Using Youtube Data API, the web app allows the users to search for their favorite karaoke songs, record their voice with the songs, and save them to local
		</h5>
<!-- 		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">Project 2</a></strong>
			- An eripuit phaedrum qui, nec facer splendide ex, vel ea assum facilisi convenire.
			Te his neglegentur consectetuer.
		</h5>
    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">Project 3</a></strong>
			- An alii quot tantas eum, doming platonem persecuti mea et, vim perpetua cotidieque delicatissimi in.
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Project 4</a></strong>
			- Vim an case vidit sententiae, est at euismod laboramus efficiantur. Ei sit brute lorem,
			ea eam timeam viderer aliquid, cu integre omittam moderatius quo.
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Project 5</a></strong>
			- Dicta causae meliore ex vel, in vix erant integre petentium. Vix ei nisl scripta recusabo,
			eam doming blandit facilisis.
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="#">Project 6</a></strong>
			- Inermis recusabo elaboraret mea et, dicat neglegentur vim te. Nec et sanctus scriptorem,
			usu ex sapientem gubergren. Tamquam admodum ei usu.
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="#">Project 7</a></strong>
			- Essent putant indoctum sed in, reprimique persequeris neglegentur te quo. Nam rebum
			tractatos partiendo at, debet ubique oporteat ut his.
		</h5> -->
    </div>
  </div>
</div>
</section>
